<fieldset class="ts-light-config">
    <legend>{{localize "TORCHSYNC.light_config_legend"}}</legend>
    <div class="form-group">
        <label>{{localize "TORCHSYNC.light_config_title"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.torchsync-shadowdark.enabled" {{#if enabled}}checked{{/if}}>
        </div>
        <p class="hint">{{localize "TORCHSYNC.light_config_description"}}</p>
    </div>
</fieldset>